# Build folders
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
out/

# VS
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Intermediate / binary
*.obj
*.pch
*.pdb
*.ilk
*.idb
*.tlog
*.lastbuildstate
*.exe
*.dll
*.lib
*.exp

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# OS
.DS_Store
Thumbs.db